.navbar {
  /* border-bottom: 5px solid #dbdbdb; */
  background: black;
  padding-left: 1vw;
  padding-right: 1vw;
}
.div1 {
  padding-top: 80px;
  text-align: center;
}
.home {
  background-image: url('../components/images/pfbaker.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
  color: white;
}

.projects {
  background-image: url('../components/images/pftitcomb.JPG');
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
  color: white;
}
.education {
  background-image: url('../components/images/portcracker.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
  color: white;
}

/* .connectIcons {
  padding-top: 10px;
} */

.row {
  align-items: center;
  justify-content: space-around;
}

/* .column {
  flex: 50%;
} */

a {
  color: white;
}

.label {
  text-align: center;
}

.intro {
  justify-content: space-around;
}

.paragraph {
  font-size: 12px;
}

.wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  min-height: 100vh;
  padding-left: 1%;
  padding-right: 1%;
}

.familiar {
  color: yellow;
}

.daily {
  color: rgb(6, 238, 130);
}

.headshot {
  width: 100%;
  height: auto;
  border-radius: 20%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.drawer {
  background-color: black;
  height: 100%;
}

.item {
  color: white;
}

.drawer_btn {
  cursor: pointer;
}

.profpic {
  background-image: url('../components/images/portfolioheadshot.jpg');
  background-size: 100%;
  width: 50%;
  margin-left: 25%;
  padding-top: 50%;
  background-position-y: 30%;
  border-radius: 30%;
}

@media screen and (min-width: 567px) {
  .paragraph {
    font-size: 20px;
  }
  .projects {
    background-image: url('../components/images/pftitcomb.JPG');
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
    color: white;
  }
  .education {
    background-image: url('../components/images/portcracker.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
    color: white;
  }
}

@media screen and (min-width: 768px) {
  .paragraph {
    font-size: 20px;
  }
}

@media screen and (min-width: 992px) {
  .paragraph {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .paragraph {
    font-size: 20px;
  }
}
